/*https://coolors.co/palette/ffb5a7-fcd5ce-f8edeb-f9dcc4-fec89a*/

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    color: #4A4A4A;
    background-color: #F8EDEB;
    display:flex;
    flex-direction: column;
}

.container{
    padding:0% 5%;
}

.grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

.grid .item{
    background-color: #FCD5CE;
    text-align: center;
    border-radius: 20px;
    padding:25px;
}

.grid .item img{
    width: 100%;
}

.grid .item p{
    text-align: left;
}

.nav{
    justify-content:left;
    display:flex;
    gap:20px;
    align-items: center;
    background-color: #FFB5A7;
}

.nav a{
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 14pt;
    color: #4A4A4A;
}

.nav a:hover{
    color:#FEC89A;
}

.logo{
    height: 40px;
    display:block;
}

.footer{
    justify-content:center;
    display:flex;
    padding:10px;
    align-items: center;
    background-color: #FEC89A;
}

.btn{
    background-color: #FFB5A7;
    border: none;
    padding:12px 16px;
    border-radius: 10px;
    text-decoration: none;
    color: #4A4A4A;
}

.btn:hover{
    background-color: #FCD5CE;
    cursor:pointer;
}

.left{
    width: 50%;
}

.leftimage{
    width:100%;
}

.gridlist{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2%;
}

.gridlist .item{
    background-color: #FCD5CE;
    text-align: center; 
    border-radius: 20px;
    padding:15px;
}

.gridlist .item img{
    width: 100%;
}

.gridlist .item p{
    padding:0px;
    margin:2px
}